* {
  box-sizing: border-box;
}

/* Create two or more equal columns that floats next to each other */
.column {
  float: left;
  width: 32.5%;
  padding: 10px;
  height: 1500px;
  margin: 10px;
}

/* Clear floats after the columns */
.row {
  clear: both;
}

.happy {
  background-color: #aaa;
  background-image: url(/img/DSC03897.jpg);
  background-size: cover;
}

