* {
  box-sizing: border-box;
}

/* Create two or more equal columns that floats next to each other */
.column {
  float: left;
  width: 32.5%;
  padding: 10px;
  height: 1500px;
  margin: 10px;
}

/* Clear floats after the columns */
.row {
  clear: both;
}

.happy {
  background-color: rgb(215, 151, 218);
  background-image: url(../img/happy.jpg);
  background-size: cover;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 900;
}

h2 {
  letter-spacing: 20px;
  font-family: "Architects Daughter", cursive;
  text-align: center;
}

h1 {
  font-family: "Architects Daughter", cursive;
}
